
@{
    ViewBag.Title = "Index";

}
<style>
    div {
        background-image: url(https://i.pinimg.com/originals/53/a4/aa/53a4aaa1fa17a147e64b74172e6119fc.jpg);
    }
    </style>
<style type="text/css">
    .btn {
        text-decoration: none;
        padding: 10px;
        font-family: arial;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 800;
        font-size: 20px;
        color: black;
        background-color:  #d3182c;
    }

        .btn:hover {
            color: #9b0e0e;
            background-color: #bc6355;
            text-decoration: none;
        }
</style>
<center>
    <h1><font color="White">Inicia Seción</font></h1>
</center>
@using (Html.BeginForm("verificar", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <center>
            <label><font color="White">Usuario</font></label>
            <p><input type="text" name="user" /></p>
            <label><font color="White">Contraseña</font></label>
            <p><input type="password" name="pass" /></p>
            <br />
            <p><input type="submit" value="Login" /></p>
        <br />
        <br />
        <br />
        <p>¿Primera vez en GUAFLIX?</p>
        <p>
        <a class="btn" href="/Usuario/Create">Suscríbete</a></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </center>
}



