
@{
    ViewBag.Title = "Index";

}
<style>
    div {
        background-image: url(https://i.pinimg.com/originals/53/a4/aa/53a4aaa1fa17a147e64b74172e6119fc.jpg);
    }

</style>
<style type="text/css">
    .btn {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        border: 2px solid #0016b0;
    }
</style>

<style type="text/css">
    .btn {
        text-decoration: none;
        padding: 40px;
        font-family: arial;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 800;
        font-size: 25px;
        color: black;
        background-color: #9b0e0e;
    }

        .btn:hover {
            color: #9b0e0e;
            background-color: #bc6355;
            text-decoration: none;
        }
</style>
<center>
    <h1><font color="White">Inicia Seción</font></h1>
</center>
@using (Html.BeginForm("verificar", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <center>
        <div class="form-group">

            <label><font color="White">usuario</font></label>
            <p><input type="text" name="user" /></p>
            <label><font color="White">password</font></label>
            <p><input type="password" name="pass" /></p>
            <p><input type="submit" value="Login" /></p>
        </div>
        <p>¿Primera vez en GUAFLIX?</p>
        <p>
        <a class="btn" href="/Usuario/Create">Suscríbete</a></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </center>
}



