@{
    ViewBag.Title = "Home Page";
}
<style>
    div {
  background-image: url(https://article.images.consumerreports.org/prod/content/dam/cro/news_articles/Electronics/CR-Electronics-AH-Hulu-Spread-09-15);
}

</style>
    
<div class="jumbotron">
    <p class="cta-pitch"><font color="white", size="80">Tu próxima historia, ahora.</font></p>
    <p class="cta-pricing"><font color="white">DISFRUTA DONDE QUIERAS. CANCELA CUANDO QUIERAS.</font></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

